.App {
  display: flex;
  flex-direction: column;
}

h1,
header {
  text-align: center;
}

.products_section,
.inventory_section,
.cart_section {
  padding: 10px;
  border: 10px double black;
}


@media screen and (min-width: 1024px) {

  .App {
    flex-direction: row;
  }

  .products_section,
  .inventory_section,
  .cart_section {
    height: 90vh;
    overflow-y: scroll;
  }

  .products_section,
  .inventory_section {
    width: 40%;
  }

  .cart_section {
    width: 20%;
  }

}